@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-background text-white;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-neutral-600 rounded-full border-4 border-transparent bg-clip-padding;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral-500;
}

@layer utilities {
  .animate-in {
    @apply opacity-0;
  }

  .fade-in {
    animation: fade-in 0.5s ease-out forwards;
  }

  .fade-in-50 {
    animation: fade-in-50 0.5s ease-out forwards;
  }

  .slide-in-from-bottom-2 {
    animation: slide-in-from-bottom-2 0.5s ease-out forwards;
  }

  .slide-in-from-bottom-4 {
    animation: slide-in-from-bottom-4 0.5s ease-out forwards;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-50 {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-in-from-bottom-2 {
  from {
    transform: translateY(0.5rem);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-in-from-bottom-4 {
  from {
    transform: translateY(1rem);
  }
  to {
    transform: translateY(0);
  }
}